{{ define "content" }}
  <div>
    <h2>{{ .todo.Title }}<h2>
    <p>完了：{{ if .todo.Done }}○{{ else }}×{{ end }}
    <a href="/todos/edit/{{ .todo.ID }}">編集</a>
  </div>
  <form action="/todos/delete/{{.todo.ID}}" method="POST" stype="display:inline">
    <button type="submit">削除</button>
  </form>
  <a href="/">一覧</a>
{{ end }}
