<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
  </head>
  <body>
    <h1>Todo一覧</h1>
    <a href="/new">新規登録</a>
    <ul id="todo-list">
      {{ range .todos }}
        <li><a href="/{{ .ID }}">{{ .Title }}</a> - {{ if .Done }}✅{{ else }}❌{{ end }} <a href="/edit/{{ .ID }}">編集</a></li>
        <form action="/delete/{{ .ID }}" method="POST" stype="display:inline">
          <button type="submit">削除</button>
        </form>
      {{ else }}
        <li>ToDoはありません。
      {{ end }}
    </ul>
  </body>
</html>
