{{ define "content" }}
  <h1>編集</h1>
  <form action="/users/update/{{ .user.ID }}" method="POST">
    {{ template "errors" . }}
    <div>
      <label for="name">名前：</label>
      <input id="name" type="text" name="name" value="{{ .user.Name }}">
    </div>
    <div>
      <label for="email">メールアドレス：</label>
      <input id="email" type="email" name="email" value="{{ .user.Email }}">
    </div>
    <div>
      <label for="password">パスワード：</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <button type="submit">更新</button>
    </div>
  </form>
{{ end }}